<html>
<head>
    <h1>
        Welcome to Hangman !
    </h1>
</head>
<body style="background-color:powderblue;">
    
    <h3>
    <form action="/play" method="post">
        <label for="want_to_play">Do you want to play :    </label>
        <select name="want_to_play" id="want_to_play">
            <option value="Yes"><h3>Yes</h3></option>
            <option value="No"><h3>No</h3></option>
        </select>
        <br><br>
        <input type="submit" value="Play">
      </form>
    </h3>

</body>
</html>